@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  @apply bg-gradient-to-br from-black via-indigo-900 to-purple-900 text-white;
  font-family: 'Arial', sans-serif;
}


/* 🔹 도트 스타일 */
.custom-swiper-pagination .swiper-pagination-bullet {
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 12px;
  height: 12px;
  margin: 0 6px;
  border-radius: 9999px;
  opacity: 1;
  transition: background 0.3s ease;
}

.custom-swiper-pagination .swiper-pagination-bullet-active {
  background: rgba(255, 255, 255, 0.8);
}



